html {
    background-color: $col-veryDarkBlue;
    font-family: 'Outfit', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &.container {
        box-sizing: border-box;
    }

    & body {
        max-width: rem(480);
        min-width: rem(295);
        margin: auto;
        padding: rem(80) rem(30);
    }

    & section, div, a, nav, img, span, label {
        color: white;
        cursor: default;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        transition: 125ms;
        user-select: none;
    }

    & li, a {
        color: $col-paleBlue;
    }

    & li:hover, a:hover {
        color: white;
        cursor: pointer;
    }

    & .attribution {
        display: none;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    html {
        display: flex;
        height: 100%;
        justify-content: center;

        & body {
            align-items: center;
            display: flex;
            justify-content: center;
            max-width: unset;
            min-width: unset;
            padding: rem(30);
            width: 100%;

            main {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                max-height: unset;
                max-width: rem(825);
            }
        }
    }
}


