html {
    background-color: $col-veryDarkBlue;
    font-family: 'Outfit', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &.container {
        box-sizing: border-box;
    }

    & body {
        max-width: rem(480);
        min-width: rem(295);
        margin: auto;
        padding: rem(80) rem(20);
    }

    & section, div, ul, li, a, h1, h2, h3, h4, p, nav, img {
        margin: 0;
        padding: 0;
        list-style: none;
        color: white;
        text-decoration: none;
        cursor: default;
        transition: 125ms;
    }

    & li, a {
        color: $col-paleBlue;
    }

    & li:hover, a:hover {
        color: white;
        cursor: pointer;
    }

    & .attribution {
        display: none;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    html {
        & body {
            max-width: 76%;
            min-width: auto;
            min-height: 518px;
        }
    }
}


