header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    & .user {
        background-color: $col-Blue;
        border-radius: rem(15);
        display: flex;
        height: rem(135);
        justify-content: space-around;
        width: 100%;
        z-index: 1;
        
        &__insideContainer {
            align-items: center;
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 80%;

            &--textContainer {
                display: flex;
                flex-direction: column;

                & span {
                    font-size: rem(23);
                    font-weight: $font-light;
                }
        
                & label {
                    color: $col-paleBlue;
                    font-size: rem(16);
                    font-weight: $font-light;
                }
            }
    
            & img {
                width: rem(67);
                height: rem(67);
                border: 3px solid white;
                border-radius: 100%;
            }
        }
    }

    & .category {
        background-color: $col-darkBlue;
        border-bottom-right-radius: rem(15);
        border-bottom-left-radius: rem(15);
        box-sizing: border-box;
        height: rem(80);
        position: relative;
        top: rem(-15);
        width: 100%;

        & nav {
            display: flex;
            font-size: rem(17);
            justify-content: space-around;
            margin: auto;
            margin-top: rem(35);
            position: relative;
            width: 80%;
        }
    }
}
