// Primary Colors
$col-Blue: hsl(246, 80%, 60%);
$col-lightOrange: hsl(15, 100%, 70%);
$col-softBlue: hsl(195, 74%, 62%);
$col-lightRed: hsl(348, 100%, 68%);
$col-lime: hsl(145, 58%, 55%);
$col-violet: hsl(264, 64%, 52%);
$col-softYellow: hsl(43, 84%, 65%);

// Neutral Colors
$col-darkBlue: hsl(235, 46%, 20%);
$col-veryDarkBlue: hsl(226, 43%, 10%); //main background
$col-desaturatedBlue: hsl(235, 45%, 61%);
$col-paleBlue: hsl(236, 100%, 87%);

// FontWeights
$font-light: 300;
$font-normal: 400;
$font-heavy: 500;
